.header {
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: #fff;
  padding: 1.25em;
  display: flex;
  align-items: center;
}

.header--image {
  height: 100%;
  margin-right: 0.375em;
}

.header--title {
  margin-right: auto;
  font-size: 1.25rem;
  font-weight: 700;
}

.header--subtitle {
  font-size: 1rem;
  font-weight: 500;
}
